@media screen and (max-width: 900px){
    .footer-content{
        width: 100%;
    }
    .footer-container{
        
        flex-direction: column;
    }
    .footer-content{
        margin: 0 auto;
    }
}

@media screen and (max-width: 900px){
    .inner-menu{
        width: 100%;
    }
    .transparent-div p {
        font-size: 20px;
    }
    ul{
        display:flex;
        flex-direction: column;
    }
    #myCanvas{
        font-size: 70%;
    }

}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown:hover .dropdown-content{
    display: block;
   
}
.dropdown-content a:hover{
    color: pink;
    background-color: black;
}
a:hover, .dropdown a:hover{
    color: rgb(228, 179, 186);

}
body, html {
    height: 100%;
    margin: 0;
}
a, .dropdown a{
    text-decoration: none;
    outline: none;
    color: black;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: blanchedalmond;
}

ul{
    list-style-type: none;
    
}
li{
    float: left;
    margin-left: 20px;
}
.footer-container{
   background-color: #d4968e;
    /* background-color: blanchedalmond;  */
    min-height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.footer-content{
    width: 30%;
    height: 50%;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: center;

}
h4{
    font-size: 22px;
}
.program{
    font-size: 18px;
}
.contact{
    font-size: 18px;
}
.copyright{
    text-align: center;
    font-size: 22px;
    margin-bottom: 20px;
}


#myCanvas {
    -webkit-animation-name: spinner; 
   -webkit-animation-timing-function: linear; 
   /* -webkit-animation-iteration-count: infinite;  */
   -webkit-animation-duration: 5s; 
   /* -webkit-animation-delay: 15s;  */
   /* transition-delay: 10s; */
   animation-name: spinner; 
   animation-timing-function: linear; 
   
   /* animation-iteration-count: infinite;  */
   animation-duration: 5s; 
   /* animation-delay: 15s; */
   -webkit-transform-style: preserve-3d; 
   -moz-transform-style: preserve-3d; 
   -ms-transform-style: preserve-3d; 
   transform-style: preserve-3d;
}

 /* WebKit and Opera browsers */ @-webkit-keyframes spinner { 
   from 
   { 
       -webkit-transform: rotateY(0deg); 
   } 
   to { 
       -webkit-transform: rotateY(-360deg); 
   } 
} /* all other browsers */ 
@keyframes spinner { 
   from { 
       -moz-transform: rotateY(0deg); 
       -ms-transform: rotateY(0deg); 
       transform: rotateY(0deg); 
   } 
   to {
       -moz-transform: rotateY(-360deg); 
       -ms-transform: rotateY(-360deg); 
       transform: rotateY(-360deg); 
   
   } 
}
