@media screen and (max-width: 600px){
   .image{
       color: red;
   }
}
.title{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    position: static;
    max-width: 1200px;
    padding: 15px 15px;
    margin: 0 auto;
    text-align: center;
}
.title img{
    width: 20%;
    height: auto;
}
.photos-gallery{
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap; 

}
.image img{
    width: 100%;
    height: 100%;
}
.image{
    width: 100%;
    height: 100%;
    position: absolute;

}
.inner-class{
    height: 270px;
    width: 25%;
    overflow: hidden;
    position: relative;
}


@media only screen and (max-width:700px){
    .inner-class {
        width: 50%;
    }
}

.image-box {
    /* display: block; */
    color: black;
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.7);
    top: 0;
    display: none;  
    text-align: center;
    margin-top: 50%;
     
}
.image-box p {
    padding: 5%;
    font-size: 130%;
}
/*.image img:hover{
    opacity: 0.5;
    
} */
