.mySlides {
    display:none;
    width: 100%;
    height: 100%;
    
    background-position: center;
    background-size: cover;
    
}
.title{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    position: static;
    max-width: 1200px;
    padding: 0 15px;
    margin: 30px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.title img{
    width: 20%;
    height: 30%;
}
.advertising{
    margin: 0 auto;
    width: 60%;
    height: 400px;
}
.advertising-container{
   background-color: #d4968e;
}

.menu-variety{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.inner-menu{
    width: 40%;
    max-height: 100%;
   /* height: 30%;*/
    padding: 20px;
    display: flex;
    flex-flow: row;
}
.options{
    margin-left: 20px;
    width: 50%;

}

div.options img{
    width: 100%;
    height: 100%;
}
.menu{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
    text-align: center;
}
.container-doc{
    background-image: url("photos/spic.png");
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.transparent-div{
    margin:  auto;
    width: 50%;
    padding: 100px;
    background: rgba(160,160,160,0.5);
}
.transparent-div p{
    position: relative;
    color: white;
    font-family: serif;
    opacity: 1;
    font-size: 40px;
    line-height: 1.8em;
    font-weight: 400;
}

.arrow {
	position: absolute;
    top: 50%;
    font-size: 40px;
    padding: 5px;
    color: #fff;
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-content: center;
	cursor: pointer;
}

.right-arrow {
	right: 5%;
}

.left-arrow {
	left: 5%;
}

/* .options h1 a:hover{
    text-decoration: none;
    outline: none;
    color: pink;
} */
