@media screen and (max-width: 600px){
    .product{
        width: 100%;
    }
   
}

.title{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    position: static;
    max-width: 1200px;
    padding: 0 15px;
    margin: 30px auto;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
}
.title img{
    width: 20%;
    height: 30%;
}
.container-doc{
    background-image: url("photos/back.jpg");
    min-height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
}
.transparent-div{
    margin: 300 auto;
    width: 70%;
    padding: 100px;
    background: rgba(255,255,255,0.7);


}
.product img{
    border-radius: 50%;
    margin-top: -80px;
    border: 2px solid black;
    height: 100%;
	width: 170px;
	max-width:100%;
	
}
.product{
    background: rgba(251 , 237, 209,1.0) ;
    margin-top: 100px;
    
}
.product h1{
    text-align: center;
}
.preparation{
   padding: 20px;
    font-size: 18px;
}
.product icon{
    display: flex;
    justify-content: center;
}
.icon{
    height: 160px;
    width: 180px;
    
}
ol{
display: flex;
    flex-direction: column;}

