.container{
    margin: 30px 30px 30px;
}
#comment{
    display: flex;
    align-items:center;
    flex-flow: column;
    justify-content: center;
}

textarea {
    width: 350px;
    height: 70px;
}

#button{
    background: #ead5dc;
    width: 200px;
    height: 40px;
    margin-top: 30px;
}
.input{
    display: flex;
    align-items:center;
    flex-flow: column;
    justify-content: center;
}

.comment-div {
	display:flex;
	flex-flow: row;
	width: 80%;
	max-height: 100%;
	padding: 20px;
	background-color: white;
	margin-top: 20px;
	border-radius: 8px;
	border: 1px solid gray;
}	
.avatar{
	text-align: center;
	margin-left: 20px;
	background-color: #eec9d2 ;
	border-radius: 50%; 
	line-height: 100px;
	width: 100px;
	font-size: 130%
}
.text{
	margin-left: 18%;
	width: 65%;
	word-wrap: break-word;
}